.app {
    text-align: center;
    display: table;
    margin: 50px auto;
    max-width: 1296px;
}

html {
    background: black;
}

.number {
    position: absolute;
    top: 0;
    right: 90%;
    color: white;
    font-size: 5em;
}
